@font-face {
    font-family: Avenir;
    src: url(/src/fonts/avenir.otf);
  }

.header{
    height: 89px;
    background-color: #ffffff;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid black;
}

.header a{
    font-family: Avenir;
    text-decoration: none;
    font-size: 16px;
    color: #808080;
}

.header a:hover{
    color: red;
}

.leftHeader{
    
}