@font-face {
    font-family: Avenir;
    src: url(/src/fonts/avenir.otf);
}

@font-face {
    font-family: Anton;
    src: url(/src/fonts/anton.ttf);
}


html, body {
    margin: 0;
}

*  {
    box-sizing: border-box;
}

.header{
    width: 100vw;
    height: 89px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #00000033;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navLinks {
    display: flex;
    gap: 10px;
}

.header a{
    font-family: Avenir;
    text-decoration: none;
    font-size: 16px;
    color: #808080;
}

.header a:hover{
    color: red;
}

.header a.active{
    color: aqua;
}

.leftHeader{
}

.image1{
    height: 721px;
    width: 100%;

    padding-top: 117px;
    text-align: center;

    background-size: contain;
    background-image: url(/src/images/IMG_6380.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.blue{
    color: #49a4ff;
}

.red{
    color: red;
}

#iccWelcome{
    font-family: Anton;
    font-size: 16px;
}

#iccHeading{
    font-family: Anton;
    font-size: 75px;
}

.schedule{
    width: 100%;
    margin: auto;
}

.schedule th{
    font-family: Anton;
    font-size: 70px;
}

.schedule td{
    text-align: center;
}