@font-face {
    font-family: Avenir;
    src: url(/src/fonts/avenir.otf);
  }

.headerBox{
    width: 100%;
    height: 89px;
    border: 1px solid black;
}

.header{
    margin: 0 auto;
    width: 80%;
    height: 89px;
    background-color: #ffffff;
    overflow: hidden;
    vertical-align: middle;
    padding: 1.5rem 1.5rem;
}

.header a{
    text-align: center;
    float: right; 

    font-family: Avenir;
    text-decoration: none;
    font-size: 16px;
    color: #808080;
}

.header a:hover{
    color: red;
}

.header a.active{
    color: aqua;
}

.leftHeader{
    float: left;
    vertical-align: middle;
}

.image1{
    height: 400px;
    width: 100%;

    padding-top: 30px;
    vertical-align: middle;

    background-size: contain;
    background-image: url(/src/images/simpleLogo.png);
    background-repeat: no-repeat;
}