@font-face {
    font-family: Avenir;
    src: url(/src/fonts/avenir.otf);
  }

.header{
    margin: 0 auto;
    width: 1150px;
    height: 89px;
    background-color: #ffffff;
    overflow: hidden;
    vertical-align: middle;
    padding: 1.5rem 1.5rem;
    border: 1px solid black;
}

.header a{
    font-family: Avenir;
    text-decoration: none;
    font-size: 16px;
    color: #808080;
}

.header a:hover{
    color: red;
}

.header a:active{
    color: aqua;
}

.leftHeader{
    display: inline-block;
    vertical-align: middle;
}
.rightHeader{
    display: inline-block;
    vertical-align: middle;
    margin-left: 60%;
}